node_modules
package_lock
package-lock.json
package.json
**/.cache
**/.ccls-cache
.projectile
.ccls
.dir-locals.el
Phase2/ScaffoldingFilesChanged/.ccls-root
compile_commands.json

# Temporary
argon2test.c